*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  font-family: "Poppins", sans-serif !important;
  /* background-color: #805ce5 !important; */
  background-image: url(src/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  text-align: center;
  height: 100vh;
}

#card-board {
  max-width: 570px;
  margin: 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.4s linear;
  border: none !important;
  background-color: transparent !important;
}

/* .active {
  background: none;
} */

.flip {
  transform: rotateY(180deg);
}
.match {
  border: 2px solid #1de9b6;
}

.card,
.back,
.front {
  height: 130px;
  width: 130px;
  border-radius: 5px !important;
}

.front,
.back {
  position: absolute;
  display: block;
  backface-visibility: hidden;
}

.front {
  background-color: #354154;
}

.front .back {
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 2px solid #354154; */
}

/* MODAL COMPLETED */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .logo {
  border: 0.25rem solid white;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.indigo {
  background-color: #805ce5;
}

.mint {
  background-color: #1de9b6;
}

.flex {
  display: flex;
  align-items: space-between;
}

@media (max-width: 560px) {
  .card,
  .back,
  .front {
    height: 100px;
    width: 100px;
    border-radius: 5px !important;
  }

  #card-board {
    margin: 0 20px;
  }
}

@media (max-width: 486px) {
  .card,
  .back,
  .front {
    height: 90px;
    width: 90px;
    border-radius: 5px !important;
  }

  #card-board {
    margin: 0 10px;
  }
}
